body {
    background-color: rgb(53, 54, 58);
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
}


.menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

li {
    display: inline-block;
    width: 310px;
    height: 90px;
    font-size: 25px;
    border-right: 2px solid rgb(204, 204, 204);
    color: white;
    background-color: #79d825;
    margin: 0;
    padding: 0;
    margin-right: -4px;
    line-height: 350%;
}

li > a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

li:hover {
    cursor: pointer;
    background-color: #68c714;
    color: rgb(204, 204, 204);
}

li:first-child {
    border-left: 2px solid rgb(204, 204, 204);
}

li:last-child {
    margin-right: 0;
}

.logo {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(204, 204, 204);
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
}

h1::first-letter {
    color: #79d825;
}

ul {
    padding: 0;
}

.content {
    width: 878px;
    background-color: rgb(40, 40, 40);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-top: 10px;
    color: rgb(204, 204, 204);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
}

h2 {
    color: white;
    font-size: 30px;
}

.homepage {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.voicebankimg {
    height: 300px;
    max-width: 280px;

}

.voicebank {
    width: 280px;
    height: 350px;
    text-align: center;
    float: left;
    transition: all 0.5s ease-in-out;
}

.voicebank:hover
{
    transform: scale(1.3);
    cursor: pointer;
}

.voicebankrow {
    width: 860px;
    height: 360px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    color: white;
}

.type
{
    text-align: center;
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
}

.type::first-letter
{
    color: #79d825;
}